html {
    font-family: "Roboto", sans-serif;
    
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    
}

header,
footer,
a {
    background-color: #1F2937;
    color: #F9FAF8;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-between;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    & ul {
    list-style: none;
    display: flex;
    gap: 10px;
    }
}

a {
    text-decoration: none;
}

.header-bottom {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    align-items: center;
}

.head-bot-left {
    flex-basis: 28%;
    flex-wrap: wrap;

    & > button {
        background-color: #3882F6;
        border-radius: 10px;
        border-color: #3882F6;
        color: #F9FAF8;
        font-weight: bold;
        padding: 5px 25px;
    }
}


.placeholder img {
    width: 350px;
    height: 200px;
}

.random-facts {
    text-align: center;

    & > h2 {
        padding: 30px 0px;
    }
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.info {
    flex-basis: 15%;
    & > img {
    border: 3px solid #3882F6;
    border-radius: 30%;
    width: 100px;
    height: 100px;
    }
}

blockquote {
    background-color: #E5E7EB;
    width: auto;
    height: 300px;
    margin: 50px 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    & > p {
        flex-basis: 5%;
        width: 40%;
    }
    & p:nth-child(2) {
        text-align: end;
        font-weight: bold;   
    }
    & p:nth-child(1) {
        font-style: italic;
        font-size: 26px; 
    }
}

.newsletter-sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    margin: auto;
    padding: 50px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & > button {
        background-color: #3882F6;
        border-radius: 10px;
        border-color: #F9FAF8;
        color: #F9FAF8;
        padding: 10px 30px;
        font-weight: bold;
    }
}

.attention-mess p, h2 {
    margin: 0;
}

footer {
    margin-top: 50px;
    padding: 20px 0px;
    text-align: center;
}